
*{
	box-sizing: border-box;
	margin: 0;
  	padding: 0;
}

body{
	font-family: Arial, sans-serif;
}

h1{
	text-align: center;
	margin-top: 35px;
	margin-bottom: 50px;
}

article{
	background-color: #ccffcc;
	position: relative;
	margin: 20px;
	border: solid black 1px;
}

section > div{
	float: left;
}

h3{
	position: absolute;
	top: 0px;
	right: 0px;
	width: 100px;
	height: 30px;
	text-align: center;
	border: solid black;
	border-width: 0 0 1px 1px;
	padding: 5px;
} 

article > div{
	padding: 35px 15px 15px 15px;
	text-align: justify;
	text-justify: inter-word;
}

#chicken{
	background-color: #ff4d94;
}

#beef{
	background-color: #0066ff;
}

#sushi{
	background-color: #ff8000;
}

/********** Large devices only **********/
@media (min-width: 992px) {
  section > div{
  	width: 33%;
  }
}


/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  section > div{
  	width: 50%;
  }
  #div-sushi{
  	width: 100%;
  }
}

/********** Small devices only **********/
@media  (max-width: 767px) {
  section > div{
  	width: 100%;
  }
}
